  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="page-content">
          <div class="row">
            <div class="col col-md-4">
              <img class="img-avatar" src="{{avatarLink}}">
              <!--<button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Image</button>-->
              <input type="file" name="avatar" id="avatarFile" (change)="onFileSelected($event)" autocomplete="off"> 
            </div>

            <div class="col col-md-8">

              <form class="create-form" [formGroup]="addForm" novalidate (ngSubmit)="onSubmit(addForm.value)">

                <div class="form-group">
                  <div class="input-style">
                    <input  placeholder="Name" class="form-control" formControlName="name">
                  </div>
                  <ng-container *ngFor="let validation of validation_messages.name">
                    <label *ngIf="addForm.get('name').hasError(validation.type) && (addForm.get('name').dirty || addForm.get('name').touched)">{{validation.message}}</label>
                  </ng-container>
                </div>

                <div class="form-group">
                  <div class="input-style">
                    <input  placeholder="Surname" class="form-control" formControlName="surname">
                  </div>
                  <ng-container *ngFor="let validation of validation_messages.surname">
                    <label *ngIf="addForm.get('surname').hasError(validation.type) && (addForm.get('surname').dirty || addForm.get('surname').touched)">{{validation.message}}</label>
                  </ng-container>
                </div>

                <div class="form-group">
                  <div class="input-style">
                    <input  type="number" min="0" max="100" placeholder="Age" class="form-control" formControlName="age">
                  </div>
                  <ng-container *ngFor="let validation of validation_messages.age">
                    <label *ngIf="addForm.get('age').hasError(validation.type) && (addForm.get('age').dirty || addForm.get('age').touched)">{{validation.message}}</label>
                  </ng-container>
                </div>

                <div class="container-login100-form-btn logout-btn">
                  <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" type="submit" [disabled]="!addForm.valid">Create</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container-login100-form-btn logout-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn addUserBtn" routerLink="/tabs/usuarios">Volver</button>
        </div>
      </div>
    </div>
</div>