<ion-content [fullscreen]="true"><ion-content id="user">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="container-avatar">
          <img id="photoURL" *ngIf="user.photoURL" src="{{user.photoURL}}">
          <img id="photoURL" *ngIf="!user.photoURL" src="../../../assets/images/default_avatar.png">
        </div>
        <label for="uid"> Cod.</label>
        <p id="uid" *ngIf="user.uid">{{user.uid}}</p>
        <p id="uid" *ngIf="!user.uid">Unknown</p>
        <hr>
        <label for="displayName"> Nombre:</label>
        <p id="displayName" *ngIf="user.displayName">{{user.displayName}}</p>
        <p id="displayName" *ngIf="!user.displayName">Unknown</p>
        <hr>
        <label for="email"> Email:</label>
        <p id="email" *ngIf="user.email">{{user.email}}</p>
        <p id="email" *ngIf="!user.email">Unknown</p>
        <hr>
       
        <div class="container-login100-form-btn reset-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" routerLink="/reset">Change Pass</button>
          </div>
        </div>
        <div class="container-login100-form-btn logout-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</ion-content>
