<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form"  [formGroup]="loginForm">
        <span class="login100-form-title p-b-26">Welcome</span>
        <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>
        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
          <input class="input100" type="text"  formControlName="email" placeholder="Email" required>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input class="input100" type="password" name="pass" formControlName="password" placeholder="Password" required>
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="login(loginForm.value)" *ngIf="!(user | async)?.uid">Login</button>
            <button class="login100-form-btn" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
          </div>
        </div>
        <div class="text-center p-t-115">
          <span class="txt1">Don’t have an account?</span>
          <a class="txt2" routerLink="register">Sign Up</a>
        </div>
      </form>
      <div *ngIf="isSubmitted && hasError" class="isa_error">{{errorMessage}}</div>
    </div>
  </div>
</div>