<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

<div class="list-group users-list">
  <h2 *ngIf="items.length == 0">No hay usuarios</h2>
	<div *ngFor="let item of items; let index = index" class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="row">
			<div class="col col-md-2 image-col">
				<img class="image" [src]="item.avatar">
			</div>
			<div class="col col-md-8 text-col">
				<h5 class="mb-1">{{item.name}} {{item.surname}}</h5>
				<small>Age: {{item.age}}</small>
			</div>
			<div class="col col-md-2 actions-col">
				<button class="btn btn-outline-primary action" (click)="removeItem(index)" type="button">
          <span>Delete</span>
				</button>
			</div>
    </div>
    <hr>
  </div>
</div>
<button class="addUserBtn"  routerLink="/addUser">
  <span>+</span>
</button>